@model BackOffice.DataAccessLayer.Models.ProductenViewModel;
@{
    ViewData["Title"] = "Alle producten";
}
<section class="main">

    <div class="productenContainer">
        <form asp-action="BulkAction" method="post">
        @foreach ( var product in @Model.Producten)
        {
            <div class="product">
                <input type="checkbox" class="bulk-checkbox" name="selectedIds" value="@product.Id" />
                <div class="id-product">@product.Id</div>
                <div class="title-product">@product.Name</div>
                <div class="type-product">@product.Type</div>
                <div class="availability-product">@product.Availability</div>
                <div class="kostPrijs-product">@product.KostPrice</div>
                <div class="beschikbaarheid-product">@product.Price</div>
                <div class="btnContainer">
                        <a asp-action="Edit" asp-route-id="@product.Id" class="edit-product" >Edit</a>
                        <form asp-action="Remove" method="post">
                            <input type="hidden" name="id" value="@product.Id" />
                            <button type="submit" class="remove-product">Remove</button>
                        </form>
                </div>
            </div>
        }
            <button type="submit" class="bulk-action" name="action" value="edit">Edit Selected</button>
            <button type="submit" name="action" value="delete">Delete Selected</button>
        </form>
    </div>
</section>

<section class="product-editForm" data-hidden="true">
    <div class="left-side-container">
        <!-- Name -->
        <label for="edit-name">Name:</label>
        <input type="text" id="edit-name" name="edit-name" value="@Model?.ProductEditForm?.Name" />
        <!-- Type -->
        <label for="edit-type">Type:</label>
        <input type="text" id="edit-type" name="edit-type" value="@Model?.ProductEditForm?.Type" />
        <!-- Description -->
        <label for="edit-description">Description:</label>
        <input type="text" id="edit-description" name="edit-description" value="@Model?.ProductEditForm?.Description" />
        <!-- Availability -->
        <div class="availabilityContainer">
            <label for="edit-availability">Availability:</label>
            <input type="number" id="edit-availability" name="edit-availability" value="@Model?.ProductEditForm?.Availability" />
            <!-- min. Availability -->
            <label for="edit-min-availability">minimum Availability:</label>
            <input type="number" id="edit-min-availability" name="edit-min-availability" value="@Model?.ProductEditForm?.MinimumAvailablility" />
        </div>
        <!-- Image path -->
        <label for="edit-imagePath">Image Path:</label>
        <input type="text" id="edit-imagePath" name="edit-imagePath" value="@Model?.ProductEditForm?.ImagePath" />
    </div>
    <div class="right-side-container">
        <!-- abs price -->
        <label for="edit-abs-price">Absolute Price:</label>
        <input type="number" id="edit-abs-price" name="edit-abs-price" value="@Model?.ProductEditForm?.Price" /><span class="currency">€</span>
        <!-- kost price -->
        <label for="edit-kost-price">Cost Price:</label>
        <input type="number" id="edit-kost-price" name="edit-kost-price" value="@Model?.ProductEditForm?.KostPrice" /><span class="currency">€</span>
        <!-- sale price -->
        <label for="edit-sale-price">Sale Price:</label>
        <input type="number" id="edit-sale-price" name="edit-sale-price" value="@Model?.ProductEditForm?.SalePercentage" /><span class="percentage">%</span>
    </div>
    <div class="buttonContainer">
        <button class="edit-cancel-btn editForm-Btn" asp-action="editForm-Cancel">Cancel</button>
        <button class="edit-save-btn editForm-Btn" asp-action="editForm-save">Save</button>
    </div>
</section>

<section class="product-remove-confirmation">
    <h3 class="removeConfirmation-text">weet je zeker dat je dit item wilt verwijderen?</h3>
    <div class="buttonContainer">
        <button class="removeConfirmation-cancel-btn removeConfirmation-Btn" asp-action="removeConfirmation-Cancel">Cancel</button>
        <button class="removeConfirmation-save-btn removeConfirmation-Btn" asp-action="removeConfirmation-save">Save</button>
    </div>
</section>

<section class="product-bulk-edit">
    <h4 class="bulkEdit-text">Vervang alle geselecteerde info</h4>
    <!-- abs price -->
    <label for="bulkEdit-absPrice">Absolute Price:</label>
    <input type="number" id="bulkEdit-absPrice" name="bulkEdit-absPrice" value="@Model?.BulkEdit?.AbsolutePrice" /><span class="currency">€</span>
    <!-- sale percentage -->
    <label for="bulkEdit-sale">korting / verhoging</label>
    <input type="number" id="bulkEdit-sale" name="bulkEdit-sale" value="@Model?.BulkEdit?.SalePercentage" /><span class="percentage">%</span>
</section>